.nav__container {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0;
}

.nav__logo {
  display: flex;
  gap: 10px;
}

.nav__image {
  width: 60px;
  height: 80px;
  padding-left: 20px;
}

.nav__title {
  font-size: 30px;
  margin: 20px 0;
}

.nav__links {
  display: flex;
  gap: 86px;
  list-style-type: none;
  padding: 0 50px;
  margin: 20px 0 8px;
}

.nav__link {
  color: #005f73;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  display: inline-block;
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav__link:hover,
.nav__link:focus {
  color: #0a9396;
  text-decoration: underline;
  outline: none;
}
